In [49]:
import pandas as pd

In [50]:
from sklearn import datasets

In [51]:
iris=datasets.load_iris()

In [63]:
df=pd.DataFrame(data=iris.data,columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [64]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [66]:
df['species']=iris.target_names[iris.target]
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [67]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['species'] = label_encoder.fit_transform(df['species'])

In [57]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [81]:
data= iris_df.drop(columns=['species'])
data

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [83]:
data=pd.DataFrame(data=iris.data,columns=iris.feature_names)
data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [84]:
# Accessing feature data
X = iris.data

# Accessing target labels
y = iris.target

# Accessing feature names and target names
feature_names = iris.feature_names
target_names = iris.target_names

print("Feature names:", feature_names)
print("Target names:", target_names)

Feature names: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Target names: ['setosa' 'versicolor' 'virginica']

In [85]:
from sklearn.model_selection import train_test_split

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.3)

In [98]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [99]:
model.fit(X_train,y_train)

C:\Users\shiva\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [100]:
model.predict(X_test)

array([2, 1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 1, 1, 0, 1, 0, 1, 2,
       0, 2, 0, 1, 0, 2, 0, 2, 0, 1, 1, 0, 2, 1, 1, 1, 2, 2, 0, 2, 1, 2,
       0])

In [101]:
X_train

array([[6.5, 3. , 5.8, 2.2],
       [5.6, 3. , 4.1, 1.3],
       [5. , 3.5, 1.6, 0.6],
       [4.6, 3.1, 1.5, 0.2],
       [6.1, 3. , 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.5],
       [6.5, 2.8, 4.6, 1.5],
       [6.7, 3. , 5. , 1.7],
       [6.9, 3.1, 4.9, 1.5],
       [5. , 3.3, 1.4, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.6, 2.8, 4.9, 2. ],
       [6.3, 2.5, 5. , 1.9],
       [6.6, 3. , 4.4, 1.4],
       [5.5, 2.3, 4. , 1.3],
       [4.8, 3.1, 1.6, 0.2],
       [6.9, 3.2, 5.7, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [6.5, 3.2, 5.1, 2. ],
       [5.8, 2.7, 5.1, 1.9],
       [6.3, 2.8, 5.1, 1.5],
       [7.4, 2.8, 6.1, 1.9],
       [5. , 3.5, 1.3, 0.3],
       [4.8, 3. , 1.4, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [7.1, 3. , 5.9, 2.1],
       [4.6, 3.2, 1.4, 0.2],
       [6.6, 2.9, 4.6, 1.3],
       [5.7, 2.8, 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 3.5, 1.3, 0.2],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.8, 2.7, 5.1, 1.9],
       [7.6, 3. , 6.6, 2.1],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.7, 4.2, 1.3],
       [4.9, 3. , 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [6.2, 2.8, 4.8, 1.8],
       [6.7, 3.1, 4.4, 1.4],
       [5.1, 2.5, 3. , 1.1],
       [6.7, 3.1, 4.7, 1.5],
       [4.8, 3. , 1.4, 0.1],
       [6.2, 2.9, 4.3, 1.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.7, 2.6, 3.5, 1. ],
       [6.7, 2.5, 5.8, 1.8],
       [5.2, 4.1, 1.5, 0.1],
       [7.2, 3.2, 6. , 1.8],
       [7.3, 2.9, 6.3, 1.8],
       [6.4, 3.2, 4.5, 1.5],
       [5.1, 3.8, 1.6, 0.2],
       [6.3, 2.5, 4.9, 1.5],
       [4.8, 3.4, 1.6, 0.2],
       [4.3, 3. , 1.1, 0.1],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.6, 1.4, 0.2],
       [5. , 3. , 1.6, 0.2],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 2.2, 4.5, 1.5],
       [6.9, 3.1, 5.4, 2.1],
       [6.1, 3. , 4.6, 1.4],
       [5.1, 3.3, 1.7, 0.5],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 2.7, 4.9, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.3, 2.3, 4.4, 1.3],
       [7.7, 3.8, 6.7, 2.2],
       [5.7, 2.8, 4.5, 1.3],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 2.3, 3.3, 1. ],
       [6. , 2.9, 4.5, 1.5],
       [6. , 2.7, 5.1, 1.6],
       [7.2, 3. , 5.8, 1.6],
       [6. , 3.4, 4.5, 1.6],
       [6.4, 2.9, 4.3, 1.3],
       [5.2, 3.4, 1.4, 0.2],
       [6.4, 3.2, 5.3, 2.3],
       [5.6, 2.5, 3.9, 1.1],
       [6.4, 2.8, 5.6, 2.2],
       [5.8, 4. , 1.2, 0.2],
       [6.2, 3.4, 5.4, 2.3],
       [6.4, 3.1, 5.5, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [6.8, 2.8, 4.8, 1.4],
       [6.8, 3.2, 5.9, 2.3],
       [4.7, 3.2, 1.6, 0.2],
       [5.8, 2.7, 4.1, 1. ],
       [5.7, 3. , 4.2, 1.2],
       [4.4, 3.2, 1.3, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [5.5, 2.4, 3.8, 1.1],
       [5.8, 2.8, 5.1, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.6, 4. , 1.2],
       [5.8, 2.7, 3.9, 1.2],
       [5.1, 3.5, 1.4, 0.3],
       [4.9, 2.4, 3.3, 1. ],
       [4.9, 3.6, 1.4, 0.1],
       [6.4, 2.8, 5.6, 2.1],
       [6.8, 3. , 5.5, 2.1],
       [5.2, 3.5, 1.5, 0.2],
       [5.1, 3.5, 1.4, 0.2],
       [6.1, 2.8, 4. , 1.3]])

In [102]:
model.score(X_test,y_test)

0.9333333333333333